<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tornado.authserver.mapper.UserMapper">

	<resultMap id="UserAuthResult" type="UserBO">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="email" property="email" />
		<result column="lastPwdUpdateDate" property="lastPwdUpdateDate" />
		<result column="status" property="status" />
		<collection property="authoritys" ofType="String">
			<result column="authoritys" property="authoritys" />
		</collection>
	</resultMap>
	
	<select id="findUserById" resultMap="UserAuthResult">
		select
			t.id,
			t.account,
			t.password,
			t.name,
			t.email,
			DATE_FORMAT(t.last_pwd_update_date, '%Y-%m-%d %H:%k:%s') as lastPwdUpdateDate,
			t.status,
			t4.code as authoritys
		from t_user t
		left join t_user_role t1 on t.id = t1.user_id
		left join t_role t2 on t1.role_id = t2.id
		left join t_role_authority t3 on t2.id = t3.role_id
		left join t_authority t4 on t3.authority_id = t4.id
		where t.id = #{id}
	</select>
	
	<select id="findUserByAccount" resultMap="UserAuthResult">
		select
			t.id,
			t.account,
			t.password,
			t.name,
			t.email,
			DATE_FORMAT(t.last_pwd_update_date, '%Y-%m-%d %H:%k:%s') as lastPwdUpdateDate,
			t.status,
			t4.code as authoritys
		from t_user t
		left join t_user_role t1 on t.id = t1.user_id
		left join t_role t2 on t1.role_id = t2.id
		left join t_role_authority t3 on t2.id = t3.role_id
		left join t_authority t4 on t3.authority_id = t4.id
		where t.account = #{account}
	</select>
</mapper>