spring:
  application:
    name: amp-eureka-server-cluster
server:
  port: 8761
---
spring:
  profiles: dev # 本机启动时，设置 spring.profiles.active = dev
eureka:
  server:
    enable-self-preservation: false
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname:localhost}:${server.port}/eureka/

--- 
spring:
  profiles: cluster1
eureka:
  server:
    enable-self-preservation: false
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://${eureka.node2}:${server.port}/eureka/,http://${eureka.node3}:${server.port}/eureka/

--- 
spring:
  profiles: cluster2
eureka:
  server:
    enable-self-preservation: false
  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://${eureka.node1}:${server.port}/eureka/,http://${eureka.node3}:${server.port}/eureka/
      
--- 
spring:
  profiles: cluster3
eureka:
  server:
    enable-self-preservation: false
  instance:
    hostname: localhost
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://${eureka.node1}:${server.port}/eureka/,http://${eureka.node2}:${server.port}/eureka/